.vscode/**
.vscode-test/**
src/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.js
**/*.map
**/*.ts
webpack/**
node_modules/**
!node_modules/sql.js/**
!node_modules/sql.js/dist/**
.env
.env.*
out/**
*.tsbuildinfo
.obfuscatorrc.json
.obfuscatorrc-webview.json
